# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# binaries
bin/**
release/**
rxsm/deploy/**

# test data
temp**
test**

# logs
log.txt
**.log

# install stuff
rxsm/vendor/**
vendor/**

# svg exports
resources/icon/**.png
resources/icon/**.jpg
